extends layout


block content
  h1= title
  p Welcome to #{title}
  - var results = [{name: "Novotel",location: "Hyderabad",price: 130$},{name: "Oberoi",location: "Mumbai",price: 170$},{name: "JW Marriott",location: "Delhi",price: 200$}]
  div(class="container-fluid") 
  div(class="row")
  -
  each item in results
    div(class="col-sm-2") #{item.name} #{item.location} #{item.price}