extends layout
block content
  h1= title
  p Welcome to the Hotel 
  div(class="container-fluid")
        div(class="row")
            -
                let icemagic = [
                    {
                        "Hotel_name": "JW Marriott",
                        "Location": "Delhi",
                        "price": "180 USD"
                    },
                    {
                        "Hotel_name": "Awasa",
                        "Location": "Hyderabad",
                        "price": " 150 USD"
                    },
                    {
                        "Hotel_name": "Oberoi",
                        "Location": "Mumbai",
                        "price": " 200 USD"
                    },                   
                ]
            each h,index in Results
                div(class="col-sm-2") #{h.Hotel_name}
                div(class="col-sm-2") #{h.Location}
                div(class="col-sm-2") #{h.price}
//-   script.                
//-         function buy(intemNo)
//-         {
//-               alert(`you purchased Item ${intemNo+1}`)
//-         }