extends layout

block content
  h1= title
  br
  - var results = [{Hotel_name:"Oberoi", location: "Mumbai", price:150}, {Hotel_name:"Awasa", location: "Hyderabad", price:130},{Hotel_name:"JW Marriott", location: "Delhi", price:200}]
   div(class = "container-fluid")
    div(class = "row")
     each item,index in results
        div(class="col-sm-2" onclick=`buy(${index})`) Hotel_name: #{item.Hotel_name} 
        br
        br 
        div(class="col-sm-2" onclick=`buy(${index})`) location: #{item.location}
        br
        br  
        div(class="col-sm-2" onclick=`buy(${index})`) price: #{item.price}
   script.
          function buy(itemNo)
          {
              alert(`You purchased item ${itemNo+1}`)
          }          