extends layout


block content
  h1= title
  p Welcome to #{title}
  - var results = [{Hotel_name: "Novotel",Location: "Hyderabad",Price: 130$},{Hotel_name: "Oberoi",Location: "Mumbai",Price: 170$},{Hotel_name: "JW Marriott",Location: "Delhi",Price: 200$}]
  -var space="   "
  div(class="container-fluid") 
  div(class="row")
  -
  each item in results
    div(class="col-sm-2") #{item.Hotel_name} #{item.Location} #{item.Price}